extends header-2

block content

  .about-words
    h2 This adventure isn&rsquo;t about change but it seems to be an inevitability.
    p
      | Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse.
    .trip-customers
      .row
        .col.s12.m6.l6.numbers
          h1 1,109
          h6 destinations
        .col.s12.m6.l6.numbers1
          h1 1,109
          h6 trips
  .destination-area
    .destination-words
      h2 Meet Our Team
      p Trips, experiences, and places. All in one service.
      .team-card-area
        .row
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/1181672/pexels-photo-1181672.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 Leina
            p CEO
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/1704300/pexels-photo-1704300.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 christina
            p marketing manager
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 oliver
            p tour expert
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 Kenny
            p Customer suport
  .parallax-container
    .parallax
      img(src='https://images.pexels.com/photos/835366/pexels-photo-835366.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')
