extends header-2

block content

  .about-words
    h2 This adventure isn&rsquo;t about change but it seems to be an inevitability.
    p
      | Welcome to Msafiri Travels.Our services are not confined to safaris alone, If on much lower budget, there are basic Camping safaris  in two persons tents (3 x3m) equipped with mattresses, bed sheets, blankets, pillows and all other necessary camping gear.  On these non participatory safaris you will be accompanied by a guide and cook who will be in charge of all chores. 
    .trip-customers
      .row
        .col.s12.m6.l6.numbers
          h1 3
          h6 destinations
        .col.s12.m6.l6.numbers1
          h1 30
          h6 trips
  .destination-area
    .destination-words
      h2 Meet Our Team
      p Trips, experiences, and places. All in one service.
      .team-card-area
        .row
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/1181672/pexels-photo-1181672.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 Leina
            p CEO
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/1704300/pexels-photo-1704300.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 christina
            p marketing manager
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 oliver
            p tour expert
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='')
            h6 Kenny
            p Customer suport
  .parallax-container.parallax-div
    .parallax
      img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245016/2.jpg')
