extends header-2

block content

  .about-words
    h2 on progress
    p
      | on progress 
    .trip-customers
      .row
        .col.s12.m6.l6.numbers
          h1 3
          h6 destinations
        .col.s12.m6.l6.numbers1
          h1 30
          h6 trips
  .destination-area
    .destination-words
      h2 Meet Our Team
      p Trips, experiences, and places. All in one service.
      .team-card-area
        .row
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1549717942/WhatsApp_Image_2019-02-09_at_15.57.29.jpg' alt='')
            h6 Hillary Remen
            p CEO
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1549717942/WhatsApp_Image_2019-02-09_at_15.57.29.jpg' alt='')
            h6 Hillary Remen
            p marketing manager
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1549717942/WhatsApp_Image_2019-02-09_at_15.57.29.jpg' alt='')
            h6 Hillary Remen
            p tour expert
          .col.s12.m4.l3.our.teamcard
            .team-photo-area
              img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1549717942/WhatsApp_Image_2019-02-09_at_15.57.29.jpg' alt='')
            h6 Hillary Remen
            p Customer suport
  .parallax-container.parallax-div
    .parallax
      img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245016/2.jpg')
