extends header-2

block content
 .destination-start
  .row
    .col.s12.m6.destination-start-words
      h4 TRAVEL BEYOND AND ABOVE YOUR EXPECTATIONS
    .col.s12.m6.destination-start-details
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        | molestiae molestias laboriosam veniam rem perspiciatis quas, eaque
        | suscipit placeat. Hic?
      p
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint
        | perferendis nemo in reprehenderit, minus explicabo sequi mollitia
        | laboriosam ab labore!
  .row
    .col.s12.m5.destination-start-photos1
      img(src='https://images.pexels.com/photos/386136/pexels-photo-386136.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
    .col.s12.m7.destination-start-photos2
      .destination-start-photos2-photos
        img(src='https://images.pexels.com/photos/1076240/pexels-photo-1076240.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
      .destination-start-photos2-photos
        img(src='https://images.pexels.com/photos/551654/pexels-photo-551654.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
 .destination-middle
  .destination-middle-image
    img(src='https://images.pexels.com/photos/691034/pexels-photo-691034.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
  .destination-middle-image
    img(src='https://images.pexels.com/photos/336507/pexels-photo-336507.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
  .destination-middle-words
    h4
      | GO AHEAD BOOK YOUR ESCAPE
      span .
 .destination-end
  .destination-end-words
    h4
      | WHAT TO DO ON TANGA
      span ?
  .destination-end-image-card
    .destination-end-image-card-overlay
      h4 WILDLIFE
    img(src='https://images.pexels.com/photos/771079/pexels-photo-771079.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
  .destination-end-image-card
    .destination-end-image-card-overlay
      h4 HIKING
    img(src='https://images.pexels.com/photos/87403/cheetah-leopard-animal-big-87403.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
  .destination-end-image-card
    .destination-end-image-card-overlay
      h4 COMMUNITY
    img(src='https://images.pexels.com/photos/368893/pexels-photo-368893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
 .destination-start
  .row
    .col.s12.m6.destination-start-words
      h4 TRAVEL BEYOND AND ABOVE YOUR EXPECTATIONS
    .col.s12.m6.destination-start-details
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        | molestiae molestias laboriosam veniam rem perspiciatis quas, eaque
        | suscipit placeat. Hic?
      p
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint
        | perferendis nemo in reprehenderit, minus explicabo sequi mollitia
        | laboriosam ab labore!
  .row
    .col.s12.m5.destination-start-photos1
      img(src='https://images.pexels.com/photos/386136/pexels-photo-386136.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
    .col.s12.m7.destination-start-photos2
      .destination-start-photos2-photos
        img(src='https://images.pexels.com/photos/1076240/pexels-photo-1076240.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
      .destination-start-photos2-photos
        img(src='https://images.pexels.com/photos/551654/pexels-photo-551654.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')