extends header-2

block content
 .destination-area
  .destination-words
    h2 Popular destinations
    p our best tourist destinations
    .destination-card-area
      .row
        .col.s12.m6.l4
          .card.z-depth-0
            .card-image
              a(href='safari')
                img(src='https://images.pexels.com/photos/1398195/pexels-photo-1398195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
              span.card-title Tanzania
        .col.s12.m6.l4
          .card.z-depth-0
            .card-image
              a(href='safari')
                img(src='https://images.pexels.com/photos/1461974/pexels-photo-1461974.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
              span.card-title Malawi
        .col.s12.m6.l4
          .card.z-depth-0
            .card-image
              a(href='safari')
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
              span.card-title Mozambique