extends header-2

block content
  .gallery-header
    h1 Gallery
    p This is sample of gallery excerpt and you can set it up using gallery option 
  .gallery-photo-area
    .row
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245087/7.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546244952/1.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245045/4.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245057/5.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245073/6.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245028/3.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245016/2.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245555/IMG_7249.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245589/IMG_6199.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245626/IMG_7390.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245648/IMG_7382.jpg' alt='')
      .col.s12.m6.l3.gallery-photo
        img.materialboxed(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245687/IMG_7838.jpg' alt='')


