head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Home
  link(rel='stylesheet' href='/assets/home.css')
  link(rel='stylesheet' href='/assets/materialize/css/materialize.min.css')
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css' integrity='sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h' crossorigin='anonymous')
.header
  .navigation
    .logo
      img(src='/assets/africa.svg' alt='')
      a.sidenav-trigger.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
      ul#slide-out.sidenav
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='safari') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
    .ul-tags.hide-on-med-and-down
      ul
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='/safari') Tours
        li
          a(href='/destinations') Destinations
        li
          a(href='/gallery') Gallery
        li
          a(href='/contactus') Contact us
  .header-overlay
    
  .header-image
    .slider
      ul.slides
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245087/7.jpg')
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546244952/1.jpg')
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245045/4.jpg')
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245057/5.jpg')
.destination-area
  .destination-words
    h2 Why choose us
    p Here are reasons you should plan trip with us
    .destination-card-area
      .row.animated.fadeInUp.whyanim
        .col.s12.m12.l4.why
          img(src='/assets/location.svg' alt='')
          h4 World Class Service
          p
            | our services are not confined to safaris alone. Contact us for: accommodation and flight reservations, airport transfers, car hire, conferences, cross border road transfers, excursions, family safaris, team building,  Mountain climbing, photographic and incentives travels. 
        .col.s12.m12.l4.why
          img(src='/assets/hotel.svg' alt='')
          h4 Handpicked Hotels
          p
            | We have inspected each hotel, camp or lodge that is features on our website or itineraries thus you are receiving firsthand information with no detail left out
        .col.s12.m12.l4.why
          img(src='/assets/price-tag.svg' alt='')
          h4 Best Price Guarantee
          p
            | Whether you are a solo traveler, a family,  a group or  are looking for specialised safaris ( e.g. birding), there is a safari for everyone at pocket friendly prices. 
.parallax-container.parallax-div
  .parallax
    img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245073/6.jpg')
.home-quotes
  p.animated.slideInLeft
    i.material-icons.left format_quote
    | Whether you travel to Tanzania, Malawi, Mozambique or Zambia or Zimbabawe, the African warmth will surround and embrace you like the warmth of a mother’s womb. No doubt why they say Africa is the cradle of man!!  
    i.material-icons.right format_quote
.testimonial-header.container
    .testimonial-line
    h4 Testimonials
    .testimonial-line
.testimonials.container
    .testimonial-card
      .circle-photo
        img(src='https://media.fox5atlanta.com/media.fox5atlanta.com/photo/2015/08/17/Tom%20Haynes%20081715_1439838190331_110078_ver1.0.jpg' alt='')
      h6 kenethsimon
      p
        | testimonial words from clients are needed and above are attached sample photos until msafiri photos are provided
    .testimonial-card
      .circle-photo
        img(src='https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/11/06/Pictures/idris-elba_e9817d2e-e186-11e8-bdc4-2ad11fc65eb2.jpg' alt='')
      h6 Geofrey
      p
        | testimonial words from clients are needed and above are attached sample photos until msafiri photos are provided
    .testimonial-card
      .circle-photo
        img(src='https://pixel.nymag.com/imgs/fashion/daily/2018/08/17/magazine/tessa-thompson-1.w570.h712.jpg' alt='')
      h6 Grace
      p
        | testimonial words from clients or tourists are needed and above are attached sample photos until msafiri photos are provided

footer.page-footer.black
  .container
    .row
      .col.l4.s12
        h5.white-text About Us
        p.grey-text.text-lighten-4
          | Msafiri tours is a tourist company.Its tours are based on East Africa, Mozambique and Malawi. We offer best services with affordable prices etc 
      .col.l4.s12
        h5.white-text Quick links
        ul
          li
            a.grey-text.text-lighten-3(href='aboutus') About us
          li
            a.grey-text.text-lighten-3(href='safari') Tours
          li
            a.grey-text.text-lighten-3(href='gallery') Gallery
          li
            a.grey-text.text-lighten-3(href='contactus') Contact us
      .col.l4.s12
        h5.white-text Contact
        h6
          i.far.fa-paper-plane.left
          | P.O Box 105739,Msasani Dar es Salaam, Tanzania
        h6
          i.fas.fa-phone.left
          | + 255 22 261 8004
        h6
          i.far.fa-envelope.left
          | msafiritravels@gmail.com
        h6
          i.fas.fa-fax.left
          | Fax : 02 9635 0247
  .footer-copyright
    .container
      | &copy; 2018 Copyright iCreatetz
      a.grey-text.text-lighten-4.right(href='#!') More Links
script(src='/assets/jquery.js')
script(src='/assets/materialize/js/materialize.min.js')
script(src='/assets/script.js')
