head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Home
  link(rel='stylesheet' href='/assets/home.css')
  link(rel='stylesheet' href='/assets/materialize/css/materialize.min.css')
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css' integrity='sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h' crossorigin='anonymous')
.header
  .navigation
    .logo
      img(src='/assets/africa.svg' alt='')
      a.sidenav-trigger.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
      ul#slide-out.sidenav
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='safari') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
    .ul-tags.hide-on-med-and-down
      ul
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='/safari') Tours
        li
          a(href='/destinations') Destinations
        li
          a(href='/gallery') Gallery
        li
          a(href='/contactus') Contact us
  .header-overlay
    p WELCOME TO
    h1 ANCESTRY AFRICA CULTURAL ARTS AND TOURISM 
    p Discover the beautiful Africa of Culture and Nature 
  .header-image
    .slider
      ul.slides
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245087/7.jpg')
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546244952/1.jpg')
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245045/4.jpg')
        li
          img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245057/5.jpg')
.destination-area
  .destination-words
    h2 Why choose us
    p Here are reasons you should plan trip with us
    .destination-card-area
      .row.whyanim
        .col.s12.m12.l4.why
          img(src='/assets/location.svg' alt='')
          h4 World Class Service
          p
            | our services are not confined to safaris alone. Contact us for: accommodation and flight reservations, airport transfers, car hire, conferences, cross border road transfers, excursions, family safaris, team building,  Mountain climbing, photographic and incentives travels. 
        .col.s12.m12.l4.why
          img(src='/assets/hotel.svg' alt='')
          h4 Handpicked Hotels
          p
            | We have inspected each hotel, camp or lodge that is features on our website or itineraries thus you are receiving firsthand information with no detail left out
        .col.s12.m12.l4.why
          img(src='/assets/price-tag.svg' alt='')
          h4 Best Price Guarantee
          p
            | Whether you are a solo traveler, a family,  a group or  are looking for specialised safaris ( e.g. birding), there is a safari for everyone at pocket friendly prices. 
.quote-photo-area
  img(src='https://images.pexels.com/photos/247376/pexels-photo-247376.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260', alt='')
  .quote-photo-area-overlay
    p
      i.material-icons.left format_quote
      | If you should ever find yourself
      |    in some uncharted part of Africa
      |    and meet a fellow intrepid traveller,
      |    then feel free to use the greeting
      |    "Msafiri travels, I presume?" 
      i.material-icons.right format_quote

.testimonial-header.container
    .testimonial-line
    h4 Testimonials
    .testimonial-line
.testimonials.container
    .testimonial-card
      .circle-photo
        img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1549717942/WhatsApp_Image_2019-02-09_at_15.57.29.jpg' alt='')
      h6 Hillary Remen
      p
        | testimonial words from clients are needed and above are attached sample photos until ancestry photos are provided
    .testimonial-card
      .circle-photo
        img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1549717942/WhatsApp_Image_2019-02-09_at_15.57.29.jpg' alt='')
      h6 Hillary Remen
      p
        | testimonial words from clients are needed and above are attached sample photos until ancestry photos are provided
    .testimonial-card
      .circle-photo
        img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1549717942/WhatsApp_Image_2019-02-09_at_15.57.29.jpg' alt='')
      h6 Hillary Remen
      p
        | testimonial words from clients or tourists are needed and above are attached sample photos until ancestry photos are provided

footer.page-footer.black
    h6 ANCESTRY AFRICA TOURS
    h6 +255 714 784 884
    h6 info@ancestryafricatours.com
    h6 Tanga, Tanzania
    p Barabara ya tano Tanga mjini, Tanzania
script(src='/assets/jquery.js')
script(src='/assets/materialize/js/materialize.min.js')
script(src='/assets/script.js')
