head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Home
  link(rel='stylesheet' href='/assets/home.css')
  link(rel='stylesheet' href='/assets/materialize/css/materialize.min.css')
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css' integrity='sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h' crossorigin='anonymous')
.header
  .navigation
    .logo
      img(src='/assets/africa.svg' alt='')
      a.sidenav-trigger.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
      ul#slide-out.sidenav
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='safari') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
    .ul-tags.hide-on-med-and-down
      ul
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='/safari') Tours
        li
          a(href='/destinations') Destinations
        li
          a(href='/gallery') Gallery
        li
          a(href='/contactus') Contact us
  .header-overlay
    h1.animated.fadeInDown.delay-2s Where do you want to go?
    p.animated.fadeInDown.delay-2s Trips, experiences, and places. All in one service.
  .header-image
    .slider
      ul.slides
        li
          img(src='https://lh3.googleusercontent.com/RyjOduIGI_jp1zoE_O0F43HJP3sgxNiaxM9Udrx6uUybCU9r_FcSf4i6gpMuoOumshXWhHhHP5-k-bXGCkmU=w1680-h936')
        li
          img(src='https://lh4.googleusercontent.com/Pp5qFAJ1YBM60k1jTCN1YYtmI-afsWxBaNIUbD2GhA46YmDsWWloLRttl3YeJC83hzBtv0W6WQ5rTlERfaHX=w1680-h936')
        li
          img(src='https://lh6.googleusercontent.com/XnJME7WjE03hGfnVah9frmSG5qcvvk5xaDjTX5v7jnHZYsbJffeHuUZqSj_p1SVnU0dNe5-R-twW3aFpgQVK=w1680-h936')
        li
          img(src='https://lh3.googleusercontent.com/U0aY6yzrYHNDKKMzWyjV75-bfyqGCq1IdzIm2GRC3MsY_srO11-alxd4XDkiXJGB25zqVtvN2OJvRnu9SmAz=w1680-h936')
.destination-area
  .destination-words
    h2 Why choose us
    p Here are reasons you should plan trip with us
    .destination-card-area
      .row.animated.fadeInUp.whyanim
        .col.s12.m6.l4.why
          img(src='/assets/location.svg' alt='')
          h4 World Class Service
          p
            | Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa
        .col.s12.m6.l4.why
          img(src='/assets/hotel.svg' alt='')
          h4 Handpicked Hotels
          p
            | Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa
        .col.s12.m6.l4.why
          img(src='/assets/price-tag.svg' alt='')
          h4 Best Price Guarantee
          p
            | Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa
.parallax-container.parallax-div
  .parallax
    img(src='/assets/photos/6.jpg')
.home-quotes
  p
    i.material-icons.left format_quote
    | If you should ever find yourself
    |         in some uncharted part of Africa
    |         and meet a fellow intrepid traveller,
    |         then feel free to use the greeting
    |         "Msafiri travels, I presume?" 
    i.material-icons.right format_quote
footer.page-footer.black
  .container
    .row
      .col.l4.s12
        h5.white-text About Us
        p.grey-text.text-lighten-4
          | About Us
          | Msafiri tours is a tourist company
      .col.l4.s12
        h5.white-text Quick links
        ul
          li
            a.grey-text.text-lighten-3(href='aboutus') About us
          li
            a.grey-text.text-lighten-3(href='safari') Tours
          li
            a.grey-text.text-lighten-3(href='gallery') Gallery
          li
            a.grey-text.text-lighten-3(href='contactus') Contact us
      .col.l4.s12
        h5.white-text Contact
        h6
          i.far.fa-paper-plane.left
          | P.O Box 105739,<br/> Msasani Dar es Salaam,<br/> Tanzania
        h6
          i.fas.fa-phone.left
          | + 255 22 261 8004
        h6
          i.far.fa-envelope.left
          | msafiritravels@gmail.com
        h6
          i.fas.fa-fax.left
          | Fax : 02 9635 0247
  .footer-copyright
    .container
      | &copy; 2018 Copyright iCreatetz
      a.grey-text.text-lighten-4.right(href='#!') More Links
script(src='/assets/jquery.js')
script(src='/assets/materialize/js/materialize.min.js')
script(src='/assets/script.js')
