head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='/assets/home.css')
  link(rel='stylesheet' href='/assets/materialize/css/materialize.min.css')
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css' integrity='sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h' crossorigin='anonymous')
.header-2
  .navigation
    .logo
      img(src='/assets/africa.svg' alt='')
      a.sidenav-trigger.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
      ul#slide-out.sidenav
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='tours') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
    .ul-tags.hide-on-med-and-down
      ul
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='safari') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
  .header-2-overlay
  .header-2-photo
    img(src='https://images.pexels.com/photos/346705/pexels-photo-346705.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' alt='')
.container
  .tour-icons
    .row
      .col.s12.m6.l3.icon-div
        i.material-icons schedule
        p 5 days
      .col.s12.m6.l3.icon-div
        i.material-icons event
        p jan, feb, mar
      .col.s12.m6.l3.icon-div
        i.material-icons monetization_on
        p $2,500
      .col.s12.m6.l3.icon-div
        i.material-icons group
        p availability 50
  .tour-details
    .row
      .col.s12.tour-details-words
        h4 WEST USAMBARA PACKAGES
        p
          | 1 – 6 days, up the hills and down the valleys, rural daily life and farming, traditional handcrafts and arts, traditional healers and their healing plants, stories about Sambaa culture – from long time ago and          today!Within our packages you can choose different options according to your time ressources & individual demands.We will provide you with detailed information on your request!

        
        h4 Day trip Tours
        h4 Irente View point (5 – 6 hours)
        p Enjoy breathtaking views over the Maasai plains!While walking to the villages of Irente you will pass different villages starting from TIEM office the hike leads you through the surroundings of  Lushoto town and several local villages.Get an idea about rural life in Tanzania and get into contact with people on the way!At the Irente Biodiversity Reserve formerly named Irente farm you can get information about nature conservation and as a special highlight enjoy the picnic lunch with self-made cheese, bread, jams before reaching at the view point and walking back to Lushoto while enjoying the variety of impressions from the tour.

        h4 Magamba Rainforest (5 – 6 hours)
        p The hike start from TIEM office and leads through villages, nice landscapes, farming areas up to the Magamba Rainforest which is host to a huge biodiversity. Experience the wonderful silence of the rainforest and its variety of birds. You can see black and white Columbus monkeys, blue monkeys, a variety of birds, butterflies, Chameleons and other species.Visit an old cave used as a hide out by the Germans during the first World war. Continue climbing up to the peak of Magamba Rainforest which is about 1850m above sea level (ASL) where you will enjoy the picnic lunch before starting our way back to Lushoto Town.

        h4 Magamba Rainforest + Irente viewpoint (7– 9 hours)
        p Get two of Lushoto’s most famous attractions in one combined Tour – Cool rainforest climate and a spectacular view over the plain! The hike starts at the TIEM office around 09:00AM through small villages, nice landscapes, farming areas and the Magamba-natural rainforest which is host to a huge biodiversity. Experience the natural silence of Usambara forests. There is a huge amount of animals like white and black Colabus monkeys, blue Colabus Monkeys,birds, butterflies, chameleons etc.Visit an old cave used as a hide out by the Germans during the First World War. Continue climbing up to the peak of Magamba Rainforest which is about 1850m above sea level (ASL) and then descend down to the Irente Biodiversity Reserve for the picnic lunch. Thereafter walk to the famous and spectacular Irente view point, enjoy the breathtaking view over the Maasai plains.Finally we walk back to town passing several other villages and get in touch with local people on the way.

        h4 Mkuzu Waterfalls (6 – 7 hours)
        p Romantic small waterfalls within a natural rainforest!
        p Walk to the Mkuzu waterfalls from the main town of Lushoto starting at TIEM office heading through the so called “Jaegersthal” (translated “hunting valley”) a living and farming area bordering the natural forest- which is a colonial German heritage .On the way you will get many impressions about rural life and farming in Lushoto while passing through fields and farmland before entering the Nature Reserve of the Magamba Rainforest which will provide you with the opportunity to see monkeys, squirrels and other animals. Take the chance to learn more about endemic plants of Usambara as well as medicinal plants and their traditional use.
        p After reaching the local village of Magamba you will continue walking through some other small villages,   through native and re-planted forests until you finally arrive at the waterfalls of Mkuzu.
        p Situated within the Magamba-Shume-Nature-Reserve as well you will have a wonderful break at the waterfalls – having picnic lunch while listening to the charming noises of nature.
        p On the way back to Lushoto town a public or private transport can be arranged.

        h4 Magamba and Mkuzu Tour – Magamba Rainforest and Mkuzu Waterfalls (7-8 hours)
        p The hike starts from Lushoto town and leads through the historical village of Kwembago to the Magamba Rainforest which is host to a huge biodiversity and has been upgraded to a Nature Reserve in the last years.
        p You will see squirrels, monkeys, blue monkeys, a variety of birds, butterflies and other species in the forest! Take the chance to learn more about endemic plants of Usambara as well as medicinal plants and their traditional use!
        p Visit an old cave used as a hide out by the Germans during the First World War. Continue climbing up to the peak of Magamba Rainforest at 1850m and enjoy the view over Lushoto Town.
        p After reaching the local village of Magamba you will continue walking through some other small villages, through native and re-planted forests until you finally arrive at the waterfalls of Mkuzu.
        p Have a wonderful break at the waterfalls – enjoy picnic lunch while listening to the charming noises of nature.On the way back to Lushoto Town public or private transport can be arranged.

        h4 Lushoto-Town-Tour (4 – 5 hours)
        p  Get to know the history of former “Wilhelmsthal” (It was formerly named after Emperor Wilhelm II. During the German colonial period from the 1890s to 1918 the area was popular with settlers, hence the German place name of Wilhelmsthal and discover Lushoto’s hidden corners, be part of busy-town-life and learn about the differences of everyday life of local people.
        p Take a tour around Lushoto town and get the chance to learn something about the history of Lushoto Town and the Usambara Mountains. Visit old historical buildings like the old German middle school, the hospital,the railway station and the first old fort known as “boma”
        p Taste fruits and spices at the local market which might be unknown for you (special market days are on Thursday & Sunday). Take advantage of the chance to get an insight into the daily life of people with their various businesses or lifestyles in busy Lushoto Town and hear from them what they have to tell you! There are many hidden corners to discover.

        h4 Shambaa Kitchen Tour (5 – 6 hours)
        p Be guest in a local kitchen and get a taste of a Shambaa family’s life in the village
        p Take a nice walk to the village called Mhelo which is situated a few kilometers outside of Lushoto Town. There you will meet a local family in their homestay.
        p Learn from them how to prepare local traditional dishes, hear the history and the background of specific food and cooking traditions in daily Shambaa life.
        p See how traditional food is grown at the field and how it is harvested. Get an impression what daily life in the village is like and share your ideas & experiences while enjoying together the lunch you have prepared.
        p Before leaving back to Lushoto Town you will plant a tree together with the family at their homestead as to repay Mother Earth for the firewood you have used for cooking that day.
        h4 	Organic Coffee Tour (6 – 7 hours)
        p Learn everything about your beloved morning-coffee and the coffee-culture in Tanzania and Usambara Mountains.
          |From the coffee cherry to the cup
        p Your organic coffee tour will start with a one hour walk from Lushoto Town to the Royal Village of Kwembago. This way leads through a colourful landscape of green hills and a big variety of plants and flowers. Of course you will pass through the coffee farmers’ fields where you can see how the coffee tree grows.
        p At the home of a member from the coffee farmer’s initiative you will get to know more about the history of coffee in Usambara and the experiences, hardships and the specific knowledge of local coffee farmers. See and try yourself to prepare coffee starting from the harvesting, the roasting, and the grinding to the brewing of your own coffee.
        p Afterwards enjoy a traditional meal at the local family’s home in the village and finally taste the freshly brewed Usambara coffee sharing it with its local producer  right next to the field where it was grown.The tour ends with a pleasant walk back to Lushoto Town.
        p This tour needs to be booked in advance in order to meet all arrangements. (Book at least two days before)
        h4 Sunset & Drumming (4 – 5 hours)
        p Enjoy Lushoto’s romantic side to the fullest- a colourful sunset at the Irente view point, a traditional dinner and moving rythms of the drums at the bonfire in the village!
        p You will start your walk to Irente View point from the center of Town and pass different villages and sites on your way. You will get various impressions about rural life up in the mountains – from the busy bus stand in the center to the settlements in the close surroundings of the small town Lushoto, the villages and their hundreds of shortcuts, people on the way with their different tasks, farmland and finally the great view of Irente!
        p Take your time at the view point and enjoy breathtaking scenery the colourful sunset and the amazing view over the Maasai plains.
        p Walk back to a family’s homestay in the village where the village drumming & dancing group will perform traditional dances & drumming specials for you. You will have the chance to get detailes information about the history of drumming and dancing and its traditional use in community life. After the performance you will get a local dinner in a nice atmosphere at the local family’s home. At around eight o’clock in the evening you will return to Lushoto town (or to your hotel) with an arranged private transport.(Please note that the drumming & dancing group is charging a fixed minimum amount for their performance which is included into our package. Therefore the costs for one person are relatively high compared to a larger group of people.)
        h4 Traditional healing (4 – 5 hours)
        p Pay a visit to a traditional healer and listen to the stories about Shambaa culture and their beliefs since 15th Century till today.
        p A pleasant walk through villages will lead you to the tradional healer’s home where you will get detailed information about traditional healing plants, their use in shamanic sessions and the way to prepare the local medicine!
        p Go for a walk with the healer in the close sourrounding of his house and touch, see and smell the healing plants!
        p A performance by a drumming and dancing group will show you how drums and dances are used during the healing sessions.
        p Find out how traditional healers implement their tasks within changing living conditions and transforming societies. Listen to their stories and exchange experiences with them!
        h4 Birdwatching Tour (4 – 5 hours)
        p Learn something about the variety of birds including indigenous species from the Usambaras.
        p This tour will lead you to different spots where you have the chance to observe and listen to the message from the varieties of birds.
        p You will walk from the center of town towards the natural rainforest and stop over wherever you hear the voice of Usambara’s birds. There are some specific stopovers where you will rest and stay for a while – enjoying the silence of nature amplified by melodies of the birds!
        p Get detailed information about the characteristics of the birds and the diversity of Usambara’s nature in general.
        h4 MULTIPLE DAY TOURS
        h4 BOOK CAMP AND HIKING TOUR WITH FRIENDS OF LITERACY TANZANIA. (2-6 DAYS) 
        h4 School Camping
        p Participate in helping and improving literacy in children through reading skills, writing skills and speaking skills
        h4 Book mending and repairing camp.
        p Camp at a chosen school and participate in book mending and repairing in order to reuse the ones unused books.You will learn simple techniques of mending and repairing the books using recycling materials around the community.
        h4 School repairing and decorating
        p Participate in school repairing and decorating of teaching aides
        p Participate in school minor repairs e.g. (floor repair, signboards etc.)
        p Participate in school furniture repairs e.g. (school desks, chairs and tables etc.)
        p Participate in school infrastructures repairs e.g. (pathways, gardening, landscaping, and drainage system i.e. school sanitary system)
        h4 School handcrafts for kids
        p Participate in school workshop for kids in making simple handcrafts for them i.e. origamy (different paper shapes, paper airplane, paper sailing boat, paper kites etc.)

        h4 Sports and games for the kids
        p Play and teach the kids different sports e.g. football, volleyball, drumming, singing, poetry and you will have a chance to learn our Swahili games from the kids e.g. Bao, Mdako, Kombolela, Kula mbakishie Baba etc.

        h4 Pottery
        p Participate in pottery making

        h4 THE READY 4.
        p Participate in helping a child to not miss school in the all 4 seasons by providing the following 4 important school items.

        p 1. School sweaters
        p Many schools are located in cold climatic conditions and sometimes it’s hard for a child to attend school without a proper sweater as part of school uniform to help him/her against the cold weather. By donating directly to the kids at school you will make him/her dreams come true.
        p 2. Rain boots
        p Help a child attend school during rainy season by donating rain boots to him/her.
        p 3. Rain jackets
        p Help a child attend school during rainy season by donating rain jackets to him/her.
        p 4. School uniform
        p A child feels better when he/she has a new and proper school uniform i.e. (shorts, socks, skirts and shirts)By donating a proper school uniform to a child you will help him/her attend school, feels better and enjoy reading.
        p 5. Safe steps
        p Due to poverty, many of the kids who attend school are barefoot, which causes a lot of diseases to them. Kindly participate in helping these kids by donating a single or more pair (s) of walking shoes. Doing this you will help these kids in our community attend school and enjoy reading in safe way.

        h4 Lushoto-Lukozi-Rangwi-Mambo/Mtae (2 – 6 days)
        p Reach up to the Usambara Mountains’ “end” and enjoy breathtaking views up to Mombasa and Kilimanjaro – the village of Mtae is a charming highlight at the end of your trip. Climb the Mtumbi peak on your way and enjoy wonderful sceneries passing through various different areas and landscapes.
        p According to the length of your trip you will pass through different villages and have your overnight stays at different local guesthouses. Going for the 2 days hike you will pass Rangwi before reaching Mtae, if you go for the 3 days hike you will go via Malindi – Rangwi to Mtae.
        p Choosing four days (or more) you will start from Lushoto Town passing the Mkuzu waterfalls which are situated in a small natural rainforest. The tour continues with the walk through villages, fields and small local market centers where you have many chances to get in touch with the local people on the way.
        p In Kwekanga you will stay in comfortable local home stays and you will have the option to do a village tour, see the tradional healer and the devil huts (traditional healing sessions), and learn more about the people’s way of life in the rural Usambara.
        p Climb Mtumbi peak which is one of the highest spots in the Usambara mountains and go on to Malindi village. From there you can continue your trip to Rangwi, a farmer’s village with hills and peaks nearby – Mzogoti peak is worth climbing if you have time and more energy. For your overnight stay you will be warmly welcomed by the Rangwi Sisters in their Convent.
        p The last day will lead you to Mtae where the Usambara Mountains find their end surrounded by wonderful views and sceneries. Kilimanjaro, Mkomazi National Park and Tsavo west Hills in Kenya can be seen on a clear day. Enjoy the widest view of 240 degrees at Mtae-Mtii.
        h4 Lushoto-Grewal-Jiwe la Mungu-Manolo-Mtae (2 – 3 days)
        p Special highlights are the great variety of birds, two days “pure nature” in the Forest Reserve and camping on wonderful views and peaks.

        p The walk starts from Lushoto through Kwembago historical village where the Traditional Chief’s Family used to live and still is to be found. Enter the Magamba-Shume Nature Reserve and enjoy plenty of time within “pure nature”.
        p The walk continues to the place called Grewal  a homestay of a former colonial settler – which is famous for being a Bird’s paradise and where you will stay for the first night.
        p Enjoy the spectacular view at the viewpoint of Jiwe la Mungu (“God’s rock”) which is definitely worth its name!
        p Camp in the village of Shume-Jiwe la Mungu and exchange your experiences and ideas with people from the local family where you will have a traditional local dish for dinner.
        p Please note that this tour will provide for all your needs but is a very basic hiking & camping tour with no solid infrastructure. The costs for the tour include a porter for every person.
        h4 Lushoto-Irente-Kisasa waterfalls-Ndekai Viewpoint (1 – 2 days)
        p “Go to where the clouds meet the sky…”...the fabelous view point of Ndekai is famous for being used for hangliding and parachuting
        p You will start the first day with walking up to the Magamba Rainforest and then stop over at the Irente Biodiversity Reserve (Irente farm) for a nice picnic lunch before you head to the spectacular Irente view point.
        p From there you will continue walking through villages up to the Yogoi view from where you continue your hike to Ndekai viewpoint (also called Carter’s place)
        p Stay overnight there and enjoy a wonderful view – which is famous for adventurers choosing it to parachute down to the plains from there.
        p The next day you will walk back to Lushoto town. This tour can also be arranged with the option of direct departure from Mombo to your next destination (Arusha, Moshi, Dar es Salaam, Tanga).
        h4 Vugha Tour (2 – 4 days)
        p Get Usambara’s historical and traditional highlights combined with various impressions about rural daily life and natural Rainforests
        p 2 days: With public transport you will go up to Vuga Road from where you will start your hike through fields and farm land passing small villages and a number of local homesteads. Pass via the village of Shashui and visit the burial site of “Mbegha”- the first legendary local chief from Usambara. Follow the path of the traditional chiefs which they have used since decades when coming from Lushoto going back home to the “royal headquarter” Vuga.
        p Reaching the historical site – the homestay of the traditional chief and his family – you will get comprehensive information about the history of the last traditional chief “Kimweri – Simba Mwenye” (Kimweri – the Lion himself”) and all his ancestors and former chiefs. At the site you will see the traditional roundhouse, the memorial burial site of the Chiefs and several items used for rituals and traditional ceremonies.
        p On the first day you have the option to climb the mountain “Kwemongo” and enjoy the sunset at the peak. You can also decide for a traditional drumming & dancing performance in the village of Vuga. For overnight you will camp at the historic site – the traditional chief’s home (or you choose to stay at the local Mission)!
        p On the second day we will arrange a cultural-village-programme for you before you leave again to Lushoto via a number of shortcuts: a village tour through Vuga village and traditional cooking at a local family’s home. Enjoy going back to Lushoto Town with a number of impressions from Vuga!
        p 4 days trip: With public transport you will go up to Vuga Road from where you will start your hike through fields and farm land, passing a number of villlages and following the path of the traditional chiefs from former days.
        p Reaching the historical site – the homestay of the traditional chief and his family – you will get comprehensive information about the last chief “Kimweri – Simba Mwenye” (Kimweri – the Lion himself”) and all his ancestors. In the evening we arrange a traditional drumming & dancing performance in the village of Vuga for you. For overnight you will camp at the historic site – the traditional chief’s home (or you choose to stay at the local Mission)!
        p On the second day the tour will lead you to Bumbuli. On the way you will pay a visit to a teafactory and get a lot of impressions on teafarming!
        p On the third day you will enter the natural rainforest of Mazumbai and visit the local village of Malomboi where you will get information about our cooperation with local village initiatives. Exchange with local people about environmental issues and share your ideas with us!
        p You have two options for the overnight stay: Camp at the school site of Malomboi and wake up with impressions from a local village in the Usambaras or stay at the Mazumbai Forest Reserve Guesthouse for overnight. On the 4th day you will hike up to the village of Kwalei where you stay at a local family’s homestay and get a breeze of daily family life in a rural village. (If you chose to sleep at Mazumbai you can go back to Lushoto by bus on the very same day.)
        h4 Study tours
        p According to your specific study interest, your time and financial resources, your wishes and demands we will design and organize your individual study tour within the Usambara Mountains. Please book at least one month in advance!
        h4 Baby Kili tour
        p If you are heading for Kilimanjaro we offer you a challenging hiking package which will perfectly prepare you to reach Kilimanjaro peak! We are sure you won’t regret.This is a tour which has to be individually arranged so please contact us at least two weeks in advance.
        

        h4 Policies
        p
           | Location
           |Start and end in Lushoto. 
           |Trusted
           |Your money is safe with TIEM, as we only pay the tour operator after your tour has departed.
           |Deposit
           |TIEM only requires a deposit of 20% to confirm this booking. The remaining balance is then payable 30 days prior to the departure date. Some departure dates and prices may vary and TIEM will contact you with any discrepancies before your booking is confirmed.
           |Credit Cards
           |The following cards are accepted for TIEM : Visa - Master Card - American Express 


  
footer.page-footer.black
    h6 ANCESTRY AFRICA TOURS
    h6 +255 714 784 884
    h6 info@ancestryafricatours.com
    h6 Tanga, Tanzania
    p Barabara ya tano Tanga mjini, Tanzania
script(src='/assets/jquery.js')
script(src='/assets/materialize/js/materialize.min.js')
script(src='/assets/script.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBM8EkQS8a7oF91fWN4cv6i1SHA57pAYRI&callback=initMap' async='' defer='')
script.
  function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};
  // Create a map object and specify the DOM element
  // for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng,
  zoom: 4
  });
  // Create a marker and set its position.
  var marker = new google.maps.Marker({
  map: map,
  position: myLatLng,
  title: 'Hello World!'
  });
  }

