head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='/assets/home.css')
  link(rel='stylesheet' href='/assets/materialize/css/materialize.min.css')
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css' integrity='sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h' crossorigin='anonymous')
.header-2
  .navigation
    .logo
      img(src='/assets/africa.svg' alt='')
      a.sidenav-trigger.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
      ul#slide-out.sidenav
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='tours') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
    .ul-tags.hide-on-med-and-down
      ul
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='safari') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
  .header-2-overlay
  .header-2-photo
    img(src='https://images.pexels.com/photos/346705/pexels-photo-346705.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' alt='')
.container
  .tour-icons
    .row
      .col.s12.m6.l3.icon-div
        i.material-icons schedule
        p 5 days
      .col.s12.m6.l3.icon-div
        i.material-icons event
        p jan, feb, mar
      .col.s12.m6.l3.icon-div
        i.material-icons monetization_on
        p $2,500
      .col.s12.m6.l3.icon-div
        i.material-icons group
        p availability 50
  .tour-details
    .row
      .col.s12.tour-details-words
        h4 TANGA CITY CULTURAL TOUR (6-8 hrs)
        p
          | Our professional  guide will accompany you to the land of historical Swahili and experience the hospitality of Tanga City and its people then visiting mostly of historical graves,Railway,Museum,Orthodox church(Greek church),fishing market and other historical site building by Arabs,German and the British before first world war and having a lunch at the traditional pottery village.
          |At the end will have a chance to visit and learn from women made a food cover (kawa) and palm leave to make roof at local house (kiungo)

         
  
footer.page-footer.black
    h6 ANCESTRY AFRICA TOURS
    h6 +255 714 784 884
    h6 info@ancestryafricatours.com
    h6 Tanga, Tanzania
    p Barabara ya tano Tanga mjini, Tanzania
script(src='/assets/jquery.js')
script(src='/assets/materialize/js/materialize.min.js')
script(src='/assets/script.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBM8EkQS8a7oF91fWN4cv6i1SHA57pAYRI&callback=initMap' async='' defer='')
script.
  function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};
  // Create a map object and specify the DOM element
  // for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng,
  zoom: 4
  });
  // Create a marker and set its position.
  var marker = new google.maps.Marker({
  map: map,
  position: myLatLng,
  title: 'Hello World!'
  });
  }

