extends header-2

block content

  .destination-area
    .destination-words
      h2 Best Value Trips
      p Best offers trips from us
      .destination-card-area
        .row
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                a(href="safaridetails")
                 img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245073/6.jpg')
                span.card-title $5000
              .card-content
                h6 Irente view point 
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                a(href="safaridetails1")
                 img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245589/IMG_6199.jpg')
                span.card-title $3000
              .card-content
                h6 Magamba rain forest  
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245057/5.jpg')
                span.card-title $7000
              .card-content
                h6 Lushoto town tour
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546244952/1.jpg')
                span.card-title $7000
              .card-content
                h6 Sunset and Drumming
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245028/3.jpg')
                span.card-title $7000
              .card-content
                h6 Mkuzu waterfalls
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://res.cloudinary.com/dedfrilse/image/upload/v1546245555/IMG_7249.jpg')
                span.card-title $7000
              .card-content
                h6 Lushoto Lukozi Rangwi Mambo/Mtae