extends header-2

block content

  .destination-area
    .destination-words
      h2 Best Value Trips
      p Best offers trips from us
      .destination-card-area
        .row
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/1398195/pexels-photo-1398195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $5000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/1461974/pexels-photo-1461974.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $3000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $7000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $7000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $7000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $7000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $7000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $7000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
          .col.s12.m6.l4
            .card.z-depth-0
              .card-image.price-card
                img(src='https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                span.card-title $7000
              .card-content
                h6 discover japan
                p Lorem, ipsum.
