head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='/assets/home.css')
  link(rel='stylesheet' href='/assets/materialize/css/materialize.min.css')
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css' integrity='sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h' crossorigin='anonymous')
.header-2
  .navigation
    .logo
      img(src='/assets/africa.svg' alt='')
      a.sidenav-trigger.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
      ul#slide-out.sidenav
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='tours') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
    .ul-tags.hide-on-med-and-down
      ul
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='safari') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
  .header-2-overlay
  .header-2-photo
    img(src='https://images.pexels.com/photos/346705/pexels-photo-346705.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' alt='')
.container
  .tour-icons
    .row
      .col.s12.m6.l3.icon-div
        i.material-icons schedule
        p 5 days
      .col.s12.m6.l3.icon-div
        i.material-icons event
        p jan, feb, mar
      .col.s12.m6.l3.icon-div
        i.material-icons monetization_on
        p $2,500
      .col.s12.m6.l3.icon-div
        i.material-icons group
        p availability 50
  .tour-details
    .row
      .col.s12.tour-details-words
        h4 EAST USAMBARA MOUNTAINS EXPERIENCE
        p
          | team drives you to Amani Nature Reserve with a professional guide and reach at main gate where you will start a walking/hiking tour  through various patches of forest which shows you endemic African violets before entering hotel or camp.
        
        h4 AMANI BUTTERFLY CONSERVATION
        p
          | Visit after lunch the initiative where local villagers collect pupa in a sustainable manner then shipped abroad. It is possible to buy jewelry made from beautiful butterfly wings.
          
        h4 HIKING THE MBOMOLE HILL 
        p
          | This is the highest peak in Amani Nature Reserve. This is a one and a half hour hike whereby you can experience the beautiful sunset at the summit and watch the final hunts of the resident falcons and hornbills coming in to roost.
        h4 THE WATERFALL TRAIL
        p
          | This trail starts from your camp/hotel with TIEM team and passes through the forest while watching the waterfalls along the way.
        h4 CHAMELEON NIGHT TOUR
        p
          | Team arrange short night walks departing from your camp /hotel to find endemic species of Chameleons. Chameleons are very hard to find during the day but at night they glow in torch light. This makes them easier to spot. These are the mostly spectacular Usambara three horned Chameleons.
        h4 BIRDWATCHING AND BOTANIC GARDEN TOUR
        p
          | Our professional guide will accompany you and make sure that you enjoy and see many species of birds including some notable endemics, the spectacular views over the botanic garden is great for raptor viewing and we have a variety of eagles including the long crested, tawny and crowned eagles. The forest buzzards and gynogenic are also frequently seen over the botanic garden.
        h4 THE TEA PLANTATION TOUR
        p
          | Our professional guide will drive you up to Amani tea factory and witness how tea is being processed. Take the short walk through various patches of the forest before entering tea plantation farm and experience the flora and fauna around Amani village areas such as Velvet Monkeys,Colobus Monkeys,Antelopes etc.
        h4 MAZUMBAI NATURE RESERVE TOUR
        p
            | Lushoto-Bumbuli-Mazumbai-Kwalei (2 – 5 days)
            |Special highlights are the tea farms, the visit to the tea factory on the way and the wonderful, natural Mazumbai rainforest!
            |This is a special highlight-trekking route in Usambara Mountains because you mostly walk on small trails only through the   villages  farming areas with spectacular views and natural forests. Visit the tea factory and see tea processing in the       village of Mponde.
            |The walk continues to the old Bumbuli mission Hospital built by Germans and leads through the Mazumbai Forest reserve – an untouched forest with a great diversity of birds, colobus monkeys, squirrels, tree hyrax, snakes and abbot’s duikers.
            |Visit the pottery-group in the village of Malomboi and see how Tupande cooperates with different village initiatives in order to improve the living conditions and especially the environmental situation in the village. Learn more about traditional healing and the local history of Malomboi.
            |On the last day enjoy your stay at one of the local homestays in Kwalei village where you can experience a breeze of daily life of the Sambaa people.

        h4 Policies
        p
           | Location
           |Start and end in Lushoto. 
           |Trusted
           |Your money is safe with TIEM, as we only pay the tour operator after your tour has departed.
           |Deposit
           |TIEM only requires a deposit of 20% to confirm this booking. The remaining balance is then payable 60 days prior to the departure date. For any tour departing before 11 November 2018 the full payment of $0 is necessary. 
           |Cancellation policy
           |No additional cancellation fees! You can cancel the tour up to 60 days prior to the departure date and you will not need to pay the full amount of $0 for Mazumbai Forest Reserve Tour, but the deposit of 20% is non-refundable. If you cancel via TIEM the standard cancellation policy applies. 
           |Availability
           |Some departure dates and prices may vary and TIEM will contact you with any discrepancies before your booking is confirmed.
           |Credit Cards
           |The following cards are accepted for TIEM : Visa - Master Card - American Express 


  
footer.page-footer.black
  .container
    .row
      .col.l4.s12
        h5.white-text About Us
        p.grey-text.text-lighten-4
          | 
      .col.l4.s12
        h5.white-text Quick links
        ul
          li
            a.grey-text.text-lighten-3(href='aboutus') About us
          li
            a.grey-text.text-lighten-3(href='safari') Tours
          li
            a.grey-text.text-lighten-3(href='gallery') Gallery
          li
            a.grey-text.text-lighten-3(href='contactus') Contact us
      .col.l4.s12
        h5.white-text Contact
        h6
          i.far.fa-paper-plane.left
          |  
        h6
          i.fas.fa-phone.left
          | 
        h6
          i.far.fa-envelope.left
          | 
        h6
          i.fas.fa-fax.left
          | 
  .footer-copyright
    .container
      | &copy; 2018 Copyright iCreatetz
      a.grey-text.text-lighten-4.right(href='#!') More Links
script(src='/assets/jquery.js')
script(src='/assets/materialize/js/materialize.min.js')
script(src='/assets/script.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBM8EkQS8a7oF91fWN4cv6i1SHA57pAYRI&callback=initMap' async='' defer='')
script.
  function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};
  // Create a map object and specify the DOM element
  // for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng,
  zoom: 4
  });
  // Create a marker and set its position.
  var marker = new google.maps.Marker({
  map: map,
  position: myLatLng,
  title: 'Hello World!'
  });
  }

