head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='/assets/home.css')
  link(rel='stylesheet' href='/assets/materialize/css/materialize.min.css')
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.0/css/all.css' integrity='sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h' crossorigin='anonymous')
.header-2
  .navigation
    .logo
      img(src='/assets/africa.svg' alt='')
      a.sidenav-trigger.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
      ul#slide-out.sidenav
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='tours') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
    .ul-tags.hide-on-med-and-down
      ul
        li
          a(href='/') Home
        li
          a(href='aboutus') About us
        li
          a(href='safari') Tours
        li
          a(href='destinations') Destinations
        li
          a(href='gallery') Gallery
        li
          a(href='contactus') Contact us
  .header-2-overlay
  .header-2-photo
    img(src='https://images.pexels.com/photos/346705/pexels-photo-346705.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' alt='')
.container
  .tour-icons
    .row
      .col.s12.m6.l3.icon-div
        i.material-icons schedule
        p 5 days
      .col.s12.m6.l3.icon-div
        i.material-icons event
        p jan, feb, mar
      .col.s12.m6.l3.icon-div
        i.material-icons monetization_on
        p $2,500
      .col.s12.m6.l3.icon-div
        i.material-icons group
        p availability 50
  .tour-details
    .row
      .col.s12.tour-details-words
        h4 Day 1
        p
          | Depart from Dar es Salaam at 08.00 for Udzungwa National Park. Arrival time will be in time late afternoon/early evening. A short walk in the park and overnight at Udzungwa Hondo Hondo Tented Camp, full board
        .tour-details-photo
          img(src='https://images.pexels.com/photos/346705/pexels-photo-346705.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' alt='')
        h4 Day 2
        p
          | After breakfast take a walking in the park and thereafter go for up the Sanje waterfalls for a refreshing swim and stunning views. Overnight at Udzungwa Hondo Hondo Tented Camp, full board
          | UDZUNGWA NATIONAL PARK opened to the public 1992 and one of the most beautiful wilderness areas in Tanzania. Covering an area of 1900 sq km., the uniqueness of this park lies in its biodiversity in hosting a variety of animals and plant species not found anywhere else in the world. The red Colobus and the Sane crested manbrey, elephants, buffalos, leopards, and sable antelopes are some of the residents in this park. A good range of birdlife is present which includes Rufus winged sunbird, Iringa akalat, Lagden&rsquo;s bush shrike and Udzungwa partridge.
        h4 Day 3
        p
          | Depart in the morning after breakfast for Ruaha National Park.
          | The drive to Ruaha is a truly fascinating one which gives you the real feel of the African countryside. The journey will see you pass sisal plantations, local villages before climbing the Great Rift Escarpment passing through Iringa Town and finally arriving to your Lodge. Arrival time will be late afternoon and overnight at Ruaha Hilltop Lodge, for the night, full board.
        .tour-details-photo
          img(src='https://images.pexels.com/photos/346705/pexels-photo-346705.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' alt='')
        h4 Day 4
        p
          | Today you will enter the Ruaha National Park in search of game life. Leaving the lodge immediately after breakfast, we arrive at the parks&rsquo; gate search of the elusive wild dogs, herds of elephants and buffaloes. After picnic lunch, continue with late afternoon/evening game drive before departing for the lodge. This is the time that predators begin their hunt for their evening meal, dinner and over night at Ruaha Hilltop Lodge, full board.
        h4 Day 5
        p
          | After breakfast, depart for a walking safari which will bring you close to some of the smallest animals and plants that you would not see on a vehicle game drive.  The crisp fresh African air mixed with the wild smell of the animals evokes your smell sense to the intoxication unique bush smell of Africa. Each plant and tree has medicinal value in the African Community and our guide will point them out for you. Game drive follows and overnight at Ruaha Hilltop Lodge, full board.
        h4 Day 6
        p
          | After breakfast depart for Mikumi National Park via a traditional African village at Twingamalenga. Late afternoon game drive and overnight at Mikumi Safari Lodge, full board.
          | MIKUMI NATIONAL PARK is flanked between the Uluguru and Udzungwa Mountains. Mikumi National Park is home to buffalos, giraffes, elephants, lions, zebras and leopards. The park is also famous for its wild dogs and 6m long pythons.
        h4 Day 7
        p
          | Early morning game drive in Mikumi before departing for Selous northern gate. The drive will be through some of the most scenic parts of Southern Tanzania. Villages and the Uluguru Mountains dot along the way.  You will make a short lunch break by the road side arriving at the Camp by late afternoon.  Late afternoon game drive and overnight at Selous Kinga Lodge, full board.
        h4 Day 8
        p
          | Take the day exploring Selous as the famous explorers did in the yester years.  Picnic lunch will be under shady trees with a relaxing visit to the hot springs Overnight at Selous Kinga Lodge, full board.
        h4 Day 9
        p
          | Early morning walking safari, followed by the afternoon boat safari. The boat safari &#x9;brings you close to the aquatic animals and birds. Overnight at Selous Kinga Lodge, full board. Return to camp late evening in time to freshen up and for dinner.
  .tour-instructions
    .row
      .col.s12
        table
          tbody
            tr
              td Departure
              td Dar es salaam
            tr
              td
                | Departure Time
              td arrive at 08:20 AM for a prompt departure at 08:20 AM
            tr
              td Arrival Time
              td evening
            tr
              td Accomodation
              td
                ul
                  li &bull;&#x9;Mikumi Safari Lodge &ndash; 2 stars &ndash; out of the park
                  li &bull;&#x9;Ruaha Hilltop Lodge - 2 stars- out of the park
                  li &bull;&#x9;Selous Kinga Lodge, &ndash; 4 stars out of the reserve
                  li &bull;&#x9;Udzungwa Hondo Hondo Tented Camp -  2 stars Tented Camp Out of the park 
            tr
              td price inclusive of
              td
                ul
                  li &bull;&#x9;Accommodation in tents, lodges, and Hotels on sharing basis
                  li &bull;&#x9;Accommodation in tents, lodges, and Hotels on sharing basis
                  li  &bull;&#x9;Three meals a day,
                  li  &bull;&#x9;English speaking driver/guide,
                  li &bull;&#x9;4 WD vehicle, fuel and all vehicle entry fees in the parks and reserve,
                  li &bull;&#x9;Game activities as mentioned above
                  li   &bull;&#x9;1 x park entry fees on Udzungwa Nat Park
                  li &bull;&#x9;1 x park entry fees in Mikumi Nat Park,
                  li &bull;&#x9;2 park  entry fees in Selous G. Reserve and Ruaha National Park,
                  li  &bull;&#x9;1 x boat safari in Selous,
                  li   &bull;&#x9;1 x walking safari each in Selous G.R. Ruaha  and Udzungwa Nat Parks,
  #map.tour-map
footer.page-footer.black
  .container
    .row
      .col.l4.s12
        h5.white-text About Us
        p.grey-text.text-lighten-4
          | Msafiri tours is a tourist company.Its tours are based on East Africa, Mozambique and Malawi. We offer best services with affordable prices etc
      .col.l4.s12
        h5.white-text Quick links
        ul
          li
            a.grey-text.text-lighten-3(href='aboutus') About us
          li
            a.grey-text.text-lighten-3(href='safari') Tours
          li
            a.grey-text.text-lighten-3(href='gallery') Gallery
          li
            a.grey-text.text-lighten-3(href='contactus') Contact us
      .col.l4.s12
        h5.white-text Contact
        h6
          i.far.fa-paper-plane.left
          |  P.O Box 105739,Msasani Dar es Salaam, Tanzania
        h6
          i.fas.fa-phone.left
          | + 255 22 261 8004
        h6
          i.far.fa-envelope.left
          | msafiritravels@gmail.com
        h6
          i.fas.fa-fax.left
          | Fax : 02 9635 0247
  .footer-copyright
    .container
      | &copy; 2018 Copyright iCreatetz
      a.grey-text.text-lighten-4.right(href='#!') More Links
script(src='/assets/jquery.js')
script(src='/assets/materialize/js/materialize.min.js')
script(src='/assets/script.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBM8EkQS8a7oF91fWN4cv6i1SHA57pAYRI&callback=initMap' async='' defer='')
script.
  function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};
  // Create a map object and specify the DOM element
  // for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng,
  zoom: 4
  });
  // Create a marker and set its position.
  var marker = new google.maps.Marker({
  map: map,
  position: myLatLng,
  title: 'Hello World!'
  });
  }

